<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Lastest Week</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
      <ion-item-sliding *ngFor="let n of news">
        <ion-item>
          <ion-avatar slot="start">
            <img [src]="n.image" />
          </ion-avatar>
          <ion-label>
            <h2>{{ n.title }}</h2>
            <p>{{ n.subtitle }}</p>
          </ion-label>
          <ion-item-options side="end">
            <ion-item-option color="primary" >Favorite</ion-item-option>
            <ion-item-option color="danger" >Hide</ion-item-option>
          </ion-item-options>
        </ion-item>
    </ion-item-sliding>
  </ion-list>
    
</ion-content>
