<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Main Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let p of promotion">
    <ion-card-header>
      <ion-card-subtitle>{{ p.subtitle }}</ion-card-subtitle>
      <ion-card-title>{{p.title}}</ion-card-title>
    </ion-card-header>
    <img [src]="p.image" alt="">
    <ion-card-content >{{p.detail}}
    </ion-card-content>
    <ion-button expand="block" fill="clear" shape="round">
      buy 
    </ion-button>
  </ion-card>
</ion-content>